<section class="main-section-catalog" id="catalog">
  <div class="container container-catalog">
    <h2 class="main-catalog-title">Catalog</h2>
    <ul class="main-catalog-list list">
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_1"
            src="./img/catalog/img_1x/Watch_1-1x.png"
            srcset="./img/catalog/img_2x/Watch_1-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">
            Tube Watch S42 Date Steel With Black...
          </p>
          <span class="catalog-cards-subtitle">€395</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_2"
            src="./img/catalog/img_1x/Watch_2-1x.png"
            srcset="./img/catalog/img_2x/Watch_2-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Avondale Watch Police For Men</p>
          <span class="catalog-cards-subtitle">€800</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_3"
            src="./img/catalog/img_1x/Watch_3-1x.png"
            srcset="./img/catalog/img_2x/Watch_3-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">
            Diver 300M Co‑Axial Master Chronomete...
          </p>
          <span class="catalog-cards-subtitle">€600</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_4"
            src="./img/catalog/img_1x/Watch_4-1x.png"
            srcset="./img/catalog/img_2x/Watch_4-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-cards-subtitle">€1400</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_5"
            src="./img/catalog/img_1x/Watch_5-1x.png"
            srcset="./img/catalog/img_2x/Watch_5-2x.png 2x"
          />
          <svg class="main-catalog-icon">
            <use href="../img/sprite/sprite.svg#icon-heart"></use>
          </svg>
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Taman Watch By Police For Men</p>
          <span class="catalog-cards-subtitle">€500</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_6"
            src="./img/catalog/img_1x/Watch_6-1x.png"
            srcset="./img/catalog/img_2x/Watch_6-2x.png 2x"
          />
          <svg class="main-catalog-icon">
            <use href="./img/sprite/sprite.svg#icon-heart"></use>
          </svg>
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Malawi Watch Police For Men</p>
          <span class="catalog-cards-subtitle">€555</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_7"
            src="./img/catalog/img_1x/Watch_7-1x.png"
            srcset="./img/catalog/img_2x/Watch_7-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-cards-subtitle">€1200</span>
        </div>
      </li>
      <li class="main-catalog-item">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_8"
            src="./img/catalog/img_1x/Watch_8-1x.png"
            srcset="./img/catalog/img_2x/Watch_8-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Greenlane Watch By Police For Men</p>
          <span class="catalog-cards-subtitle">€1000</span>
        </div>
      </li>
      <li class="main-catalog-item s">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_9"
            src="./img/catalog/img_1x/Watch_9-1x.png"
            srcset="./img/catalog/img_2x/Watch_9-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Squardrc 5402 Chrono</p>
          <span class="catalog-cards-subtitle">€359</span>
        </div>
      </li>
      <li class="main-catalog-item s">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_10"
            src="./img/catalog/img_1x/Watch_10-1x.png"
            srcset="./img/catalog/img_2x/Watch_10-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Diver 300M Co‑Axial Master...</p>
          <span class="catalog-cards-subtitle">€400</span>
        </div>
      </li>
      <li class="main-catalog-item s">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_11"
            src="./img/catalog/img_1x/Watch_11-1x.png"
            srcset="./img/catalog/img_2x/Watch_11-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Citizen</p>
          <span class="catalog-cards-subtitle">€519</span>
        </div>
      </li>
      <li class="main-catalog-item s">
        <div class="main-catalog-wrap">
          <img
            class="main-catalog-img"
            alt="watch_12"
            src="./img/catalog/img_1x/Watch_12-1x.png"
            srcset="./img/catalog/img_2x/Watch_12-2x.png 2x"
          />
          <div class="catalog-pointer">
            <h4 class="catalog-pointer-title">Description</h4>
            <p class="catalog-pointer-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h4 class="catalog-pointer-title">DETAILS & FEATUREStion</h4>
            <ul class="catalog-pointer-list">
              <li class="catalog-pointer-item">Gender: man</li>
              <li class="catalog-pointer-item">Size: 46x54.5mm</li>
              <li class="catalog-pointer-item">Case Colour: Steel Band</li>
              <li class="catalog-pointer-item">Material: Metal Case</li>
              <li class="catalog-pointer-item">Material: Metal</li>
              <li class="catalog-pointer-item">Features: Multifunction</li>
              <li class="catalog-pointer-item">Water Resistant: 5 (ATM)</li>
              <li class="catalog-pointer-item">Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-card">
          <p class="catalog-cards-title">Armani Exchange</p>
          <span class="catalog-cards-subtitle">€400</span>
        </div>
      </li>
    </ul>
    <div class="container-btn">
      <button type="submit" class="catalog-btn" data-modal-open>Buy now</button>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-button" type="button" data-modal-close>
      <svg class="modal-icon">
        <use href="./img/sprite/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="container-modal-all">
      <div class="modal-image">
        <div class="modal-img">
          <img
            class="main-catalog-img"
            alt="buy_watch"
            src="./img/catalog/img_1x/Watch_1-1x.png"
            srcset="./img/catalog/img_2x/Watch_1-2x.png 2x"
          />
        </div>
        <div class="modal-text">
          <p class="modal-text-title">
            Tube Watch S42 Date Steel With Black...
          </p>
          <span class="modal-text-subtitle">€395</span>
        </div>
      </div>

      <div class="form">
        <form class="modal-form">
          <div class="modal-form-group">
            <label for="name"><span class="modal-label">Full name</span></label>
            <div class="modal-wrap">
              <input
                minlength="3"
                class="modal-input"
                type="text"
                name="Name"
                id="name"
                placeholder="Enter your full name"
                required
              />
            </div>
          </div>
          <div class="modal-form-group">
            <label for="email"><span class="modal-label">Email</span></label>
            <div class="modal-wrap">
              <input
                class="modal-input"
                type="email"
                pattern=""
                name="email"
                id="email"
                placeholder="Enter your email"
                required
              />
            </div>
          </div>
          <div class="modal-form-group">
            <label for="Card"
              ><span class="modal-label">Card number</span></label
            >
            <div class="modal-wrap">
              <input
                class="modal-input"
                type="number"
                name="Card"
                id="Card"
                placeholder="Enter card"
                required
              />
            </div>
            <label for="comments"
              ><span class="modal-label">Comments</span></label
            >
            <textarea
              class="modal-textarea"
              id="comments"
              name="Comments"
              placeholder="Enter your text"
            ></textarea>
          </div>
          <div class="container-modal-btn">
            <button class="modal-btn" type="submit">submit</button>
            <p class="modal-button-text">
              By clicking on “Submit” button, you agree to our Privacy Policy,
              and allow Promodo to use this information for marketing purposes.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
