<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-box">
        <div>
          <a href="" class="footer-logo">
            <img
              src="./img/sprite/logo-big-cropped.svg"
              alt="logotype"
              class="footer-logo-svg"
            />
          </a>

          <address class="address">
            <ul class="footer-address-list">
              <li class="footer-address-item">
                <a href="tel:380684439426" class="footer-address"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-address-item">
                <a href="" class="footer-address"
                  >1678 S. Pioneer Road Salt Lake City
                  <span class="footer-address-span">UT 84104</span></a
                >
              </li>
            </ul>
          </address>
        </div>
        <nav class="footer-nav">
          <ul class="footer-list-menu">
            <li class="footer-menu-item">
              <a href="#about" class="footer-menu">About us</a>
            </li>
            <li class="footer-menu-item">
              <a href="#catalog" class="footer-menu">Catalog</a>
            </li>
            <li class="footer-menu-item">
              <a href="#sale" class="footer-menu">Sale</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="footer-list-svg-menu">
        <li>
          <a href="" class="footer-svg-menu">
            <svg class="icon" width="28" height="28">
              <use href="./img/sprite/sprite.svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-svg-menu">
            <svg class="icon" width="28" height="28">
              <use href="./img/sprite/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-svg-menu">
            <svg class="icon" width="28" height="28">
              <use href="./img/sprite/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="privat">
      <p class="footer-text">©2022 The Watch Spot. All rights reserved.</p>
      <ul class="text-list">
        <li>
          <p>
            <a href="" class="footer-text footer-text-bottom">Privacy Policy</a>
          </p>
        </li>
        <li>
          <p>
            <a href="" class="footer-text footer-text-bottom"
              >Terms of Service</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
