<section class="new-watches">
  <div class="container">
    <div>
      <h2 class="new-head">New watches</h2>
      <h3 class="green-and-bronze">
        Green And Bronze—The Match Made In Heaven
      </h3>
    </div>
    <div class="new-watches-list">
      <picture>
        <source
          srcset="
            ./img/new-watches/greene-desk-x1.jpg 1x,
            ./img/new-watches/greene-desk-x2.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/new-watches/greene-tab-x1.jpg 1x,
            ./img/new-watches/greene-tab-x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/new-watches/greene-mob.jpg    1x,
            ./img/new-watches/greene-mob-x2.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          src="./img/new-watches/greene-mob.jpg"
          alt="green-watch"
          class="new-watches-img"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/new-watches/bronze-desk-x1.jpg 1x,
            ./img/new-watches/bronze-desk-x2.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/new-watches/bronze-tab-x1.jpg 1x,
            ./img/new-watches/bronze-tab-x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/new-watches/bronze-mob.jpg    1x,
            ./img/new-watches/bronze-mob-x2.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          src="./img/new-watches/bronze-mob.jpg"
          alt="green-watch"
          class="new-watches-img"
        />
      </picture>
    </div>
  </div>
</section>
